<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
    </ion-buttons>
    <ion-title>Card</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>ion-card</h1>
  <p>Las tarjetas son contenedores que muestran contenido como texto, imágenes, botones y listas. Una tarjeta puede ser un componente único, pero generalmente se compone de un encabezado, un título, un subtítulo y contenido. Para adaptarse a esta estructura, las tarjetas se dividen en varios componentes: encabezado , título , subtítulo y contenido .</p>
</ion-content>