<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
    </ion-buttons>
    <ion-title>Alert</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>ion-alert</h1>
  <p>Una alerta es un cuadro de diálogo que presenta información a los usuarios o recopila información del usuario mediante entradas. Una alerta aparece sobre el contenido de la aplicación y debe ser descartada manualmente por el usuario antes de que pueda reanudar la interacción con la aplicación. También puede tener opcionalmente un header, subHeadery message.</p>
</ion-content>