<ion-header>
  <ion-toolbar>
    <ion-title>Calculadora</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-label position="stacked">Número 1</ion-label>
    <ion-input type="number" [(ngModel)]="numero1"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Número 2</ion-label>
    <ion-input type="number" [(ngModel)]="numero2"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Operación</ion-label>
    <ion-select [(ngModel)]="operacionSeleccionada">
      <ion-select-option value="sumar">Suma</ion-select-option>
      <ion-select-option value="restar">Resta</ion-select-option>
      <ion-select-option value="multiplicar">Multiplicación</ion-select-option>
      <ion-select-option value="dividir">División</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button expand="block" class="ion-margin-top" (click)="calcular()">
    Calcular
  </ion-button>

  <ion-item *ngIf="resultado !== null" lines="none">
    <ion-label>
      <h2>Resultado</h2>
      <p>{{ resultado }}</p>
    </ion-label>
  </ion-item>

  <ion-text color="danger" *ngIf="error">
    <p class="ion-padding-start">{{ error }}</p>
  </ion-text>

  <ion-list *ngIf="historial.length > 0">
    <ion-list-header>
      <ion-label>Históricos</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let item of historial">
      <ion-label>{{ item.operacion }} = {{ item.resultado }}</ion-label>
    </ion-item>

    <ion-button expand="block" fill="outline" (click)="limpiarHistorial()">
      Limpiar historial
    </ion-button>
  </ion-list>

</ion-content>