<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
    </ion-buttons>
    <ion-title>Checkbox</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>ion-checkbox</h1>
  <p>Las casillas de verificación permiten seleccionar varias opciones de un conjunto. Aparecen marcadas (con una marca) cuando están activadas. Al hacer clic en una casilla de verificación, se activa o desactiva la checkedpropiedad. También se pueden marcar mediante programación configurando la checkedpropiedad.</p>
</ion-content>